{
  "client": {
    "name": "{{ ansible_fqdn }}",
    "address": "{{ ansible_default_ipv4.address }}",
    "environment": "{{ env_name }}",
    "subscriptions": [
      "raleigh-lab",
      "rhel-hosts"
    ],
    "socket": {
      "bind": "127.0.0.1",
      "port": 3030
    }
  }
}

