"check-pcs-{{ check.name }}": {
    "command": "/usr/bin/sudo /usr/libexec/openstack-monitoring/checks/oschecks-pacemaker_host_check -r {{ check.name }}",
    "subscribers": {{ check.subscribers|default(["overcloud_controllers"])|to_json }},
    "handle": true,
    "handler": "mail",
    "interval": {{ check.interval|default(60) }}
}
