{
  "sensu": [
    {
      "name": "{{ datacenter_name }}",
      "host": "{{ haproxy_vip }}",
      "port": "{{ sensu_api_port }}"
    }
  ],
  "uchiwa": {
    "host": "0.0.0.0",
    "port": "{{ uchiwa_port }}"
  }
}

