{
  "redis": {
    "password": "{{ redis_password }}",
    "master": "mymaster",
    "sentinels": [
      {
        "host": "{{ groups['redis'][0] }}",
        "port": {{ sentinel_port }}
      },
      {
        "host": "{{ groups['redis'][1] }}",
        "port": {{ sentinel_port }}
      },
      {
        "host": "{{ groups['redis'][2] }}",
        "port": {{ sentinel_port }}
      }
    ]
  }
}

